<h1>Cat edit form</h1>

<%= render 'form', cat: @cat, method: :edit %>

<!-- <form action="cat_url(@cat)" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>">

  <label for="birth_date">Birth date</label>
  <input id="birth_date" type="text" name="cat[name]" value="<%= @cat.birth_date %>">

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disable select><%= @cat.color %></option>
    <option value="black">black</option>
    <option value="white">white</option>
    <option value="purple">purple</option>
    <option value="red">red</option>
    <option value="green">green</option>
    <option value="brown">brown</option>
    <option value="gray">gray</option>
  </select>
  <br><br><br>

  <label for="male">Male</label>
  <input id="male" type="radio" name="cat[sex]" value='M' <%= (@cat.sex == 'M') ? 'checked' : "" %>  >
  <label for="female">Female</label>
  <input id="female" type="radio" name="cat[sex]" value="F"  <%= (@cat.sex == 'F') ? 'checked' : "" %> >

  <br><br><br>
  <label for="">Description</label>
  <br>
  <textarea name="cat[description]" rows="20" cols="85"><%= @cat.description %></textarea>

  <br><br>
  <input type="submit" value="Update Cat">
</form> -->
